node_modules
dist
src/store/serverDataBase/data/*.db
src/store/serverDataBase/data/*.db-journal
src/store/serverDataBase/data/*.db-wal
src/store/serverDataBase/data/*.db-shm
src/store/serverDataBase/docs/*
!src/store/serverDataBase/docs/.gitkeep
src/store/serverDataBase/pictures/*
!src/store/serverDataBase/pictures/.gitkeep
src/store/serverDataBase/logs/*
!src/store/serverDataBase/logs/.gitkeep
.git
.gitignore
tests
Dockerfile
docker-compose.yml
.dockerignore
npm-debug.log
