# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database files
*.db

# Uploaded files
pictures/
src/store/serverDataBase/pictures/
src/store/serverDataBase/schematics/
src/store/serverDataBase/docs/ASH-SCH-1785485892560-9107-2n3904.pdf
src/store/serverDataBase/docs/ASH-SCH-1785485908746-9500-MMBT2222LT1-D.PDF
src/store/serverDataBase/docs/ASH-SCH-1785485950200-703-BC846ALT1-D.PDF
